{% extends "account/base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    {% include "components/alert-success.html" with message="The password has been changed!" only %}

    <div class="mt-10">
      <a href="{% url 'account_login' %}" class="flex w-full justify-center rounded-md bg-blue px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-violet dark:hover:bg-pink focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">Sign in now</a>
    </div>
  </div>

{% endblock %}
