{% extends "account/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Request Access{% endblock %}

{% block h1 %}Request Access{% endblock %}

{% block content %}
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  {% if sent %}
    <div class="text-center">
      <p>Thank you!</p>
      <p class="mt-3">We’ll get you access chop-chop, double-quick, fleetly, posthaste, presto, lickety-split.</p>
      <img src="{% static 'images/access_requested.png' %}" alt="404" class="mt-5 mx-auto">
    </div>
  {% else %}
    {% if form.non_field_errors %}
      {% include "components/alert-error.html" with message=form.non_field_errors only %}
    {% else %}
      {% include "components/messages.html" with messages=messages only %}
    {% endif %}

    <form class="space-y-6" method="post" action="{{ url }}">
      {% csrf_token %}

      <div class="text-center">
        <p>This page is restricted to registered users.</p>
        <p class="mt-3">Fill in the form to request access:</p>
      </div>

      <div>
        <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium leading-6">{{ form.email.label }}</label>
        {% if form.email.errors %}
          {% include "components/alert-error.html" with message=form.email.errors only %}
        {% endif %}
        <div class="mt-2">
          {{ form.email|add_class:"block w-full rounded-md bg-white dark:bg-slate-600 border-0 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue sm:text-sm sm:leading-6"|attr:"autofocus:autofocus" }}
        </div>
      </div>

      <div>
        <button type="submit" value="signup" class="flex w-full justify-center rounded-md bg-blue px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-violet dark:hover:bg-pink focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">Request Access</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already have an account?
      <a href="{% url 'account_login' %}" class="font-semibold leading-6 text-blue hover:text-violet dark:hover:text-lightgrey">Sign in now</a>
    </p>
  </div>
  {% endif %}
{% endblock %}
