<ul class="ml-5 list-disc">
  {% for component in components %}
    <li class="component my-2 text-sm font-light">
      <div class="mb-1 font-semibold">{{ component.name }}</div>
      {% if component.ai_types and not hide_ai_types %}
        <div class="mb-1 flex flex-wrap gap-1">
          {% for ai_type in component.get_ai_types_list %}
            {% include "components/pill.html" with text=ai_type only %}
          {% endfor %}
        </div>
      {% endif %}
      {% if not hide_description %}
        <div>{{ component.description|linebreaksbr }}</div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
