**/.DS_Store
.factorypath
.vscode
*.log
.git
.gitignore
.gitattributes
.github
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
Dockerfile
.docker
.dockerignore
test_repos/*/__contextualization
deployments/infra/data
