.DS_Store
.env
.python-version
db.sqlite3
db.sqlite3.bk*
__pycache__
*.pem
node_modules
dist
repos
test_repos/*/__contextualization
pr-repos
local-repos
media
.idea
.venv
debug.log
gen-ai-feedback
gbom-precomputed
mvp/static/vue
webhook-data
db*.json
*psql.bk
.trash
.cassettes
.local_tests
test_repos
deployments/infra/data
