# DevOps stuff
/deployments @splatonov @zmievsa-semasoftware @alex-karatynski @ivanrykov-sema
/build @splatonov @zmievsa-semasoftware @alex-karatynski @ivanrykov-sema
/.github/workflows @splatonov @zmievsa-semasoftware @alex-karatynski @ivanrykov-sema

# Autoassign any dependency updates (for Dependabot PRs)
/pyproject.toml @Semalab/sip
/uv.lock @Semalab/sip
/vue-frontend/package-lock.json @Semalab/sip
/vue-frontend/package.json @Semalab/sip
