<div style="margin-bottom: 25px">
  <div id="ticket--{{ id_prepend }}-{{ id }}" style="border: 1px solid #ddd; border-radius: 6px; overflow: hidden">
    <div style="background-color: #f5f5f5; padding: 10px 15px; border-bottom: 1px solid #ddd; display: flex; justify-content: space-between; align-items: center">
      <div style="font-weight: 600; margin: 0">Ticket: {{ item.issue_key }}</div>
      <div style="display: flex; align-items: center">
        <div style="font-weight: 600; padding: 3px 8px; border-radius: 3px; font-size: 14px; background-color: #f5f5f5">{{ item.jira_completeness_score }}</div>
        {% include "mvp/daily_message/partials/daily_message_jira_quality_category.html" with quality_category=item.quality_category only %}
      </div>
    </div>
    <div style="padding: 12px 15px">
      <div style="display: flex; align-items: center; gap: 5px; margin-top: 3px; margin-bottom: 10px">
        {% include "mvp/daily_message/partials/daily_message_jira_quality_category.html" with quality_category=item.quality_category text=item.llm_category only %}
        {% include "mvp/daily_message/partials/daily_message_jira_quality_category.html" with quality_category=item.quality_category text="Stage: "|add:item.stage_category only %}
      </div>
      {% include "mvp/daily_message/partials/daily_message_preformatted_block.html" with content=item.explanation_jira_completeness_score as_bullets=True only %}
    </div>
  </div>
  <div style="display: flex; width: 100%">
    <div class="no-copy-clipboard" style="margin-left: auto; color: #0066cc; cursor: pointer" onclick="copyText('ticket--{{ id_prepend }}-{{ id }}')" >copy</div>
  </div>
</div>
