<script>
window.addEventListener('load', function(){
  var cc = initCookieConsent();

  cc.run({
      current_lang: 'en',
      autoclear_cookies: true,
      page_scripts: true,
      languages: {
          'en': {
              consent_modal: {
                  title: 'We use cookies!',
                  description: 'Hi, this website uses essential cookies to ensure its proper operation and tracking cookies to understand how you interact with it. The latter will be set only after consent. <button type="button" data-cc="c-settings" class="cc-link">Let me choose</button>',
                  primary_btn: {
                      text: 'Accept all',
                      role: 'accept_all'
                  },
                  secondary_btn: {
                      text: 'Reject all',
                      role: 'accept_necessary'
                  }
              },
              settings_modal: {
                  title: 'Cookie preferences',
                  save_settings_btn: 'Save settings',
                  accept_all_btn: 'Accept all',
                  reject_all_btn: 'Reject all',
                  close_btn_label: 'Close',
                  cookie_table_headers: [
                      {col1: 'Name'},
                      {col2: 'Domain'},
                      {col3: 'Expiration'},
                      {col4: 'Description'}
                  ],
                  blocks: [
                      {
                          title: 'Cookie usage 📢',
                          description: 'We use cookies to ensure the basic functionalities of the website and to enhance your online experience. You can choose for each category to opt-in/out whenever you want.'
                      }, {
                          title: 'Strictly necessary cookies',
                          description: 'These cookies are essential for the proper functioning of the website. Without these cookies, the website would not work properly',
                          toggle: {
                              value: 'necessary',
                              enabled: true,
                              readonly: true
                          }
                      }, {
                          title: 'Performance and Analytics cookies',
                          description: 'These cookies allow us to understand how you interact with our site, so we can improve it.',
                          toggle: {
                              value: 'analytics',
                              enabled: false,
                              readonly: false
                          },
                          cookie_table: [
                              {
                                  col1: '(^_ph|^posthog_)',
                                  col2: 'posthog.com',
                                  col3: '1 year',
                                  col4: 'Tracks your activity on the website.',
                                  is_regex: true
                              }
                          ]
                      }, {
                          title: 'More information',
                          description: 'For any queries in relation to our policy on cookies and your choices, please <a class="cc-link" href="mailto:support@semasoftware.com?subject=Policy on cookies">contact us</a>.',
                      }
                  ]
              }
          }
      }
  });
});
</script>
<style>
:root{
    --cc-btn-primary-bg: #0081A7;
}
</style>
