{% load inline_static_tags %}
{% load widget_tweaks %}

<form action="./{% if not form.instance.id %}#create{% endif %}"
      method="post"
      class="p-4 border border-gray-200 dark:border-slate-600 bg-white dark:bg-slate-900 rounded-md mb-20 max-w-3xl">
  {% csrf_token %}

  {% if form.name.errors %}
    {% include "components/alert-error.html" with message=form.name.errors only %}
  {% endif %}
  <div class="mb-5 flex items-center gap-12">
    <label for="{{ form.name.id_for_label }}"
            class="block text-sm font-medium leading-6 w-28 shrink-0">{{ form.name.label }}</label>
    {{ form.name|add_class:"block w-full rounded-md bg-white dark:bg-slate-600 border-0 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue sm:text-sm sm:leading-6" }}
  </div>

  {% if form.team_type.errors %}
    {% include "components/alert-error.html" with message=form.team_type.errors only %}
  {% endif %}
  <div class="mb-5 flex items-center gap-12">
    <label for="{{ form.team_type.id_for_label }}"
            class="block text-sm font-medium leading-6 w-28 shrink-0">{{ form.team_type.label }}</label>
    {{ form.team_type|add_class:"block w-full rounded-md bg-white dark:bg-slate-600 border-0 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue sm:text-sm sm:leading-6" }}
  </div>

  {% if form.developer_type.errors %}
    {% include "components/alert-error.html" with message=form.developer_type.errors only %}
  {% endif %}
  <div class="mb-5 flex items-center gap-12">
    <label for="{{ form.developer_type.id_for_label }}"
            class="block text-sm font-medium leading-6 w-28 shrink-0">{{ form.developer_type.label }}</label>
    {{ form.developer_type|add_class:"block w-full rounded-md bg-white dark:bg-slate-600 border-0 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue sm:text-sm sm:leading-6" }}
  </div>

  {% if form.rules.errors %}
    {% include "components/alert-error.html" with message=form.rules.errors only %}
  {% endif %}
  <div class="mb-5 flex items-center gap-12">
    <label for="rules"
            class="block text-sm font-medium leading-6 w-28 shrink-0">Rules</label>
    <div class="w-full">
      <select name="rules" id="rules" data-te-select-init multiple>
        {% for rule in request.current_organization.rule_set_non_global %}
          <option value="{{ rule.id }}"
            {% if rule.description %}data-te-select-secondary-text="{{ rule.description }}"{% endif %}
            {% if rule.id in form.instance.rule_ids %}selected{% endif %}
          >
            {{ rule.name }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% if form.instance.id %}
    <div class="checkbox-list">
      <div class="mb-5 flex items-center justify-between gap-12">
        <label for="authors" class="block text-sm font-medium leading-6">Developers</label>
        <div class="text-xs">
          <span>
            Selected: <span class="checkbox-list-num-selected">{{ form.instance.author_set.all|length }}</span>/{{ org_authors|length }}
          </span>
          <button type="button"
          class="checkbox-list-select-all rounded-md bg-blue px-1.5 py-.5 text-xs font-semibold leading-6 text-white shadow-sm hover:bg-violet dark:hover:bg-pink focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">
            Select All
          </button>
          <button type="button"
          class="checkbox-list-select-none rounded-md bg-blue px-1.5 py-.5 text-xs font-semibold leading-6 text-white shadow-sm hover:bg-violet dark:hover:bg-pink focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">
            Select None
          </button>
        </div>
      </div>
      <div class="ml-24 pr-2 max-h-96 overflow-y-auto overflow-x-hidden">
        {% for author in org_authors %}
          <div class="flex items-start">
            <input type="checkbox"
                  name="authors"
                  value="{{ author.public_id }}"
                  id="author-{{ author.public_id }}"
                  {% if author in form.instance.author_set.all %}checked{% endif %}
                  class="w-4 h-4 mt-1 text-blue bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 mt-1.5">
            <div class="flex flex-col justify-between w-full ml-2">
              <div class="flex justify-between items-center">
                <label for="author-{{ author.public_id }}"
                      class="text-sm font-medium text-gray-900 dark:text-gray-300 my-1">
                  {{ author.name }}
                </label>
                <div class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                  {% if author.group %}
                  {% include "components/pill.html" with text=author.group.name only %}
                {% else %}
                  {% include "components/pill.html" with text="Ungrouped" only %}
                {% endif %}
                </div>
              </div>
              {% if author.email %}
                <div class="text-xs text-gray-500">{{ author.email }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <button type="submit"
          class="mt-5 rounded-md bg-blue px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-violet dark:hover:bg-pink focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">
    {% if form.instance.id %}Save{% else %}Create group{% endif %}
  </button>
</form>
<script>{% inline_javascript 'js/checkbox-list.js' %}</script>

<style>
div[data-te-select-option-ref] input + span {
  padding-left: 1.5rem;
}
</style>
