{% load static %}

{% if not authors %}
  <span class="italic">Empty group</span>
{% else %}
  <div
    class="w-full"
    data-te-collapse-init
    href="#group-authors-{{ id }}"
    aria-expanded="false"
    aria-controls="group-authors-{{ id }}"
  >
    <div class="flex items-center gap-1 cursor-pointer">
      <div class="shrink-0">
        <img src="{% static 'images/vendor/heroicons/solid/chevron-right.svg' %}" class="w-3 inline dark:invert arrow-right" />
        <img src="{% static 'images/vendor/heroicons/solid/chevron-down.svg' %}" class="w-3 inline dark:invert arrow-down" />
      </div>
      <span>
        {{ authors|length }}
        {% if authors|length == 1 %}
          developer
        {% else %}
          developers
        {% endif %}
      </span>
    </div>

    <div class="mt-3 pl-3 flex-wrap gap-1 !visible hidden"  data-te-collapse-item id="group-authors-{{ id }}">
      {% for author in authors %}
        {% include 'components/pill.html' with text=author.name only %}
      {% endfor %}
    </div>
  </div>
{% endif %}
