{% extends "mvp/settings/base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block title %}Settings - Connect MS Teams{% endblock %}

{% block content %}
  <h1 class="text-2xl md:text-3xl mb-4 font-semibold">Settings</h1>

  <h2 class="text-xl md:text-2xl mb-4 font-semibold">Connect MS Teams</h2>

  {% include "components/messages.html" with messages=messages only %}
  {# TODO add instructions on how to set up a workflow #}
  <form action="{% url 'connect_ms_teams' %}" method="post"
        class="p-4 border border-gray-200 dark:border-slate-600 bg-white dark:bg-slate-900 rounded-md">
    {% csrf_token %}
    {% if form.non_field_errors %}
      {% include "components/alert-error.html" with message=form.non_field_errors only %}
    {% endif %}
    <div>
      <div>
        <label for="{{ form.webhook_url.id_for_label }}" class="block text-sm font-medium leading-6">Webhook URL</label>

        {% if form.webhook_url.errors %}
          {% include "components/alert-error.html" with message=form.webhook_url.errors only %}
        {% endif %}
        <div class="mt-2">
          {{ form.webhook_url|add_class:"block w-full rounded-md bg-white dark:bg-slate-600 border-0 p-2 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue sm:text-sm sm:leading-6" }}
        </div>
      </div>
      <button type="submit" value="submit"
              class="mt-5 rounded-md bg-blue px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-violet dark:hover:bg-pink focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">
        Save
      </button>
    </div>

    <hr class="my-4">
    <div class="my-4">
      <h3 class="text-xl">Instructions</h3>
      <p class="my-2">To connect MS Teams, you need to set up a webhook in your MS Teams channel using a workflow.
        Follow these steps:</p>
      <p class="my-2">
        On the left hand side, click on the "•••" button and select "workflows"
        <img class="mt-2" src="{% static 'images/ms_teams_guide/workflow_button.png' %}">
      </p>

      <p class="my-2">
        On the workflows main page, select the "Create" tab and then press the "+ Create from blank" button.
        <img class="mt-2" src="{% static 'images/ms_teams_guide/workflow_create_from_blank.png' %}">
      </p>
      <p class="my-2">
        In the workflows creator page, select the trigger "When a Teams webhook request is received"
        <img class="my-2" src="{% static 'images/ms_teams_guide/workflow_webhook_trigger.png' %}">
        and then pick "Anyone" under "Who can trigger the flow?" and click "+ New Step".
        <img class="mt-2" src="{% static 'images/ms_teams_guide/workflow_webhook_data.png' %}">
      </p>
      <p class="my-2">
        Next, pick "Parse JSON"
        <img class="my-2" src="{% static 'images/ms_teams_guide/workflow_json.png' %}">
        and fill the "Content" field with <span class="bg-gray-100 dark:bg-slate-700">@triggerBody()</span> and the
        "Schema" field with the
        following JSON:
        <pre class="bg-gray-100 dark:bg-slate-700 p-2 rounded-md my-2">
{
    "type": "object",
    "properties": {
        "text": {
            "type": "string"
        }
    }
}
        </pre>
        It'll look like this
       <img class="my-2" src="{% static 'images/ms_teams_guide/workflow_json_data.png' %}">
        Then click "+ New Step".
      </p>
      <p>
        For the last step select "Post message in a chat or channel" and fill the fields, for the "Message" field, you
        can select "text" from the dynamic content or just paste <span class="bg-gray-100 dark:bg-slate-700">@{body('Parse_JSON')?['text']}</span>
        <img class="my-2" src="{% static 'images/ms_teams_guide/workflow_post_message_data.png' %}">
        and then click on "Save"
      </p>
      <p class="my-2">
        After saving, you can copy the webhook URL from the "When a Teams webhook request is received" step
        <img class="my-2" src="{% static 'images/ms_teams_guide/webhook_url.png' %}">
        and paste it in the field above.
    </div>
    
  </form>

{% endblock %}
