{% extends "mvp/settings/base.html" %}

{% load widget_tweaks %}

{% block title %}Settings - Connect Snyk{% endblock %}

{% block content %}
    <h1 class="text-2xl md:text-3xl mb-4 font-semibold">Settings</h1>

    <h2 class="text-xl md:text-2xl mb-4 font-semibold">Connect Snyk</h2>

    {% include "components/messages.html" with messages=messages only %}

    <form action="{% url 'connect_snyk' %}" method="post" class="p-4 border border-gray-200 dark:border-slate-600 bg-white dark:bg-slate-900 rounded-md">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% include "components/alert-error.html" with message=form.non_field_errors only %}
        {% endif %}
        <div class="mt-5">
            <label for="{{ form.api_token.id_for_label }}" class="block text-sm font-medium leading-6">API Token</label>

            <p class="text-sm">Follow these instructions to <a href="https://docs.snyk.io/snyk-api/authentication-for-api" target="_blank" class="text-blue font-semibold">get your Snyk API Token</a>. Then copy&paste it in the input below.</p>

            {% if form.api_token.errors %}
                {% include "components/alert-error.html" with message=form.api_token.errors only %}
            {% endif %}
            <div class="mt-2">
                <!-- TODO: use a "show/hide" input so token is not shown by default -->
                {{ form.api_token|add_class:"block w-full rounded-md bg-white dark:bg-slate-600 border-0 p-2 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue sm:text-sm sm:leading-6" }}
            </div>
        </div>
        <div class="mt-5">
            <label for="{{ form.org_id.id_for_label }}" class="block text-sm font-medium leading-6">Organization ID</label>

            <p class="text-sm">Follow these instructions to <a href="https://docs.snyk.io/scan-application-code/snyk-code/using-snyk-code-from-the-cli/set-the-snyk-organization-for-the-cli-tests/finding-the-snyk-id-and-internal-name-of-an-organization" target="_blank" class="text-blue font-semibold">get your Snyk Organization ID</a>. Then copy&paste it in the input below.</p>
            {% if form.org_id.errors %}
                {% include "components/alert-error.html" with message=form.org_id.errors only %}
            {% endif %}
            <div class="mt-2">
                {{ form.org_id|add_class:"block w-full rounded-md bg-white dark:bg-slate-600 border-0 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue sm:text-sm sm:leading-6" }}
            </div>
        </div>
        <button type="submit" value="submit" class="mt-5 rounded-md bg-blue px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-violet dark:hover:bg-pink focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">Connect</button>
    </form>

{% endblock %}
