{% extends "mvp/settings/base.html" %}

{% load widget_tweaks %}

{% block title %}
  Repository Groups
{% endblock title %}

{% block content %}
  <h1 class="text-2xl md:text-3xl mb-4 font-semibold">Settings</h1>
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl md:text-2xl font-semibold">Repository Groups <span
      class="text-base md:text-xl ">({{ repository_groups|length }})</span></h2>
    <a href="#create"
       class="mr-2 text-sm text-blue font-semibold hover:text-violet dark:hover:text-lightgrey">
      + Add Group
    </a>
  </div>
  {% if not repository_groups %}
    <div class="py-2 px-4 bg-lightgrey dark:bg-slate-600 rounded-md mb-5">
      <div class="flex justify-between items-center gap-3">
        <p>Create a group to better organize your repositories and utilize all the
          features</p>
      </div>
    </div>
  {% endif %}

  {% if not request.POST %}
    {% include "components/messages.html" with messages=messages only %}
  {% endif %}

  <div
    class="mt-5 px-4 border border-gray-200 dark:border-slate-600 bg-white dark:bg-slate-900 rounded-md">
    <div class="overflow-x-auto">
      <table class="mb-5 min-w-full text-left text-sm font-light">
        <thead class="border-b font-medium gray:border-neutral-200">
        <tr>
          <th scope="col" class="pr-6 py-4">Group</th>
          <th scope="col" class="px-6 py-4">Repositories</th>
          <th scope="col" class="px-6 py-4">Linked Jira Projects</th>
          <th scope="col" class="px-6 py-4">Usage Category</th>
          <th scope="col" class="px-6 py-4">Rules</th>
          <th scope="col" class="px-6 py-4">Potential Productivity Improvement</th>
          <th scope="col" class="px-6 py-4"></th>
        </tr>
        </thead>
        <tbody>
        {% for group in repository_groups %}
          <tr class="border-b gray:border-neutral-200">
            <td class="pr-6 py-4 align-top">
              {{ group.name }}
            </td>
            <td class="px-6 py-4 w-1/3 align-top">
              {% include "mvp/settings/repositories-collapsible.html" with id=group.public_id repositories=group.repository_list only %}
            </td>

            <td class="px-6 py-4 w-1/3 align-top">
              <div class="flex flex-wrap gap-1">
                {% for project in group.jira_projects.all %}
                  {% include "components/pill.html" with text=project.key only %}
                {% empty %}
                  -
                {% endfor %}
              </div>
            </td>

            <td class="px-6 py-4 align-top">
              {{ group.get_usage_category_display }}
            </td>
            <td class="px-6 py-4 align-top">
              <div class="flex flex-wrap gap-1">
                {% for rule in group.rule_list %}
                  {% include "components/pill.html" with text=rule.name only %}
                {% endfor %}
                {% if organization_wide_rules %}
                  <span
                    class="inline-block text-xs rounded-full px-3 py-1 bg-gray-200 dark:bg-slate-600 whitespace-nowrap cursor-pointer"
                    data-te-toggle="popover"
                    data-te-placement="top"
                    data-te-html="true"
                    data-te-title="Organization-wide Rules <br />(editable from the rules page)"
                    data-te-content="<ul class='ml-5 list-disc'>{% for rule in organization_wide_rules %}<li>{{ rule.name }}</li>{% endfor %}</ul>"
                    data-te-trigger="hover focus"
                  >
                    +{{ organization_wide_rules|length }}
                  </span>
                {% endif %}
              </div>
            </td>
            <td class="px-6 py-4 align-top">
              {{ group.get_potential_productivity_improvement_label_display }}
            </td>
            <td class="pl-6 py-4 align-top">
              <a href="./{{ group.public_id }}"
                 class="text-blue font-semibold hover:text-violet dark:hover:text-lightgrey">
                Edit
              </a>
              <form action="./" method="post" class="max-w-lg">
                {% csrf_token %}
                <button type="submit" name="action" value="delete_repository_group"
                        class="font-semibold leading-6 text-blue hover:text-violet dark:hover:text-lightgrey"
                        onclick="return confirm('Are you sure you want to delete this group? the repositories in this group will be ungrouped.');">
                  Delete
                </button>
                <input type="hidden" name="group_id" value="{{ group.public_id }}">
              </form>
            </td>
          </tr>
        {% endfor %}
        {% if ungrouped_repos %}
          <tr class="border-b gray:border-neutral-200">
            <td class="pr-6 py-4 align-top">
              Ungrouped
            </td>
            <td class="px-6 py-4 w-1/3">
              {% include "mvp/settings/repositories-collapsible.html" with id="ungrouped" repositories=ungrouped_repos only %}
            </td>
            <td class="px-6 py-4 align-top">
              -
            </td>
            <td class="px-6 py-4 align-top">
              -
            </td>
            <td class="pl-6 py-4">&nbsp;</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <a name="create"></a>
  <h2 class="text-xl md:text-2xl mb-4 font-semibold mt-10">
    Create group
  </h2>

  {% if request.POST %}
    {% include "components/messages.html" with messages=messages only %}
  {% endif %}

  {% include "mvp/settings/repository_group_form.html" %}
{% endblock content %}
