{% load static %}

{% if not repositories %}
  <span class="italic">Empty group</span>
{% else %}
  <div
    class="w-full"
    data-te-collapse-init
    href="#group-repos-{{ id }}"
    aria-expanded="false"
    aria-controls="group-repos-{{ id }}"
  >
    <div class="flex items-center gap-1 cursor-pointer">
      <div class="shrink-0">
        <img src="{% static 'images/vendor/heroicons/solid/chevron-right.svg' %}" class="w-3 inline dark:invert arrow-right" />
        <img src="{% static 'images/vendor/heroicons/solid/chevron-down.svg' %}" class="w-3 inline dark:invert arrow-down" />
      </div>
      <span>
        {{ repositories|length }}
        {% if repositories|length == 1 %}
          repository
        {% else %}
          repositories
        {% endif %}
      </span>
    </div>

    <div class="mt-3 pl-3 flex-wrap gap-1 !visible hidden"  data-te-collapse-item id="group-repos-{{ id }}">
      {% for repository in repositories %}
        {% include "components/pill.html" with text=repository.full_name only %}
      {% endfor %}
    </div>
  </div>
{% endif %}
