{% load static %}

<!doctype html>
<html>
<head>
  <title>There was a problem</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
  <script src="{% static 'js/vendor/tailwind.min.js' %}"></script>
  {% include 'components/tailwind-config.html' %}
  {% include 'components/posthog-snippet.html' %}
  {% include "components/document360_widget.html" %}
</head>
<body class="bg-white text-dark dark:bg-slate-800 dark:text-white">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h1 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight">500 Internal Server Error</h1>
      <h2 class="mt-5 text-center text-xl font-bold leading-9 tracking-tight">Our CEO 'just came up with a great idea.' You can guess what happened next.</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <p class="text-center text-md">Please refresh the page or come back later.</p>
      <p class="mt-3 text-center text-md">We'll be looking into this soon, but if you want to provide any information, please <a href="mailto:support@semasoftware.com?subject=There was a problem" class="font-semibold leading-6 text-blue hover:text-violet dark:hover:text-lightgrey">contact us</a>.</p>
      <p class="mt-5 text-center text-md"><a href="/" class="font-semibold leading-6 text-blue hover:text-violet dark:hover:text-lightgrey">Return to Homepage</a></p>
      <img src="{% static 'images/500.png' %}" alt="500" class="my-5 mx-auto w-2/3">
      <img src="{% static 'images/sema-logo.svg' %}" alt="Sema logo" class="mt-10 mx-auto h-6 w-auto dark:hidden">
      <img src="{% static 'images/sema-logo-dark.svg' %}" alt="Sema logo" class="mt-10 mx-auto h-6 w-auto hidden dark:block">
    </div>
  </div>
</body>
</html>
